
/*Navbar design*/
.navBg{
    background-color: rgb(0,3,36) !important;
}
.navText{
    display: flex;
    align-items: end;
    color: #FFFFFF !important;
}

.navCenter{
    display: flex;
    justify-content: center;
}

.reserve{
    color: #FFFFFF;
    border : 2px #E5FEFF solid ; 


} 

.header{
    background-image: url("Images/hotelMarkupAssets/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px blue solid;
    height: 50rem;

    
}

.footerText{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0,3,36);
}

/* rooms */
.blueBackgroundRoom{
    background-image: url("Images/hotelMarkupAssets/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px blue solid;
    height: 40rem;
}
 
#ourRoomText{
    color: white;
}
.ourRoom{
    display: flex;
    justify-content: center;
}

.cardCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

#packageFont{
    display: flex;
    justify-content: center;
}

.blueAmenities{
    background-image: url("Images/hotelMarkupAssets/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px blue solid;
    height: 40rem;
}
#amenities{
    color: white;
    display:flex;
    justify-content: center;
}
#amenitiesText{
    display: flex;
    justify-content: center;
    color: white;
}
.amText{
    color: white;
}